/* components/Loader/Loader.module.css */
.loaderWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    margin-top: 300px;
    margin-right: -50px;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top-color: #c5e1a5;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}