/* #region mobile */
.wrapper {
  max-width: 375px;
  height: 866px;
  margin: 0 auto;
  padding: 48px 20px;
  border-radius: 20px;
  box-sizing: border-box;
  position: relative;
}

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 40px;
}

.categoryLabel {
  font-weight: 400;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #000;
}

.viewAll {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  width: 100%;
  max-width: 108px;
  height: 36px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  background-color: rgba(0, 0, 0, 0.05);
  color: #000;
  text-decoration: none;
  padding: 5px 12px;
  transition: all 0.3s ease;
}

.viewAll:hover,
.viewAll:focus {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.15);
}

.viewAll:active {
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

.slider {
  padding-bottom: 24px;

}

.slide {
  display: flex;
  justify-content: flex-start;
}



.card {
  width: 100%;
  max-width: 335px;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 16px;
}

.imageBox {
  position: relative;
  width: 335px;
  height: 412px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 12px;
}

.info {
  padding: 12px 16px 0;
}

.title {
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 16px;
  color: #000;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}

.price {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #000;
}

.meta {
  display: flex;
  gap: 12px;
  font-size: 14px;
  margin-bottom: 12px;
}

.leftMeta {
  display: flex;
  align-items: center;
  gap: 12px;
}

.metaItem {
  display: flex;
  align-items: center;
  color: #000;
  gap: 4px;
}

.icon {
  width: 16px;
  height: 16px;
  color: #000;
}

.moreBtn {
  display: block;
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.05);
  color: #000;
  border-radius: 100px;
  text-decoration: none;
  line-height: 40px;
  transition: all 0.3s ease;
}

.moreBtn:hover,
.moreBtn:focus {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.15);
}

.moreBtn:active {
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

.paginationWrapper {
  position: absolute;
  bottom: 16px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
}


.pagination {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  position: static !important;
  transform: none !important;
  width: auto !important;
}


.bullet {
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, 0.05);
  opacity: 1;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bullet:hover {
  background: rgba(0, 0, 0, 0.2);
}

.bulletActive {
  background: #000 !important;
  opacity: 1;
}

.navButtons {
  position: absolute;
  bottom: 16px;
  right: 20px;
  display: flex;
  gap: 16px;
  z-index: 10;
}

.navPrev,
.navNext {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #c5e1a5;
  border: 1px solid #f9fcf6;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
  transition: all 0.3s ease;
}

.navPrev svg,
.navNext svg {
  width: 16px;
  height: 16px;
  stroke: #000;
  stroke-width: 2;
  transition: fill 0.2s ease;
}

/* Hover/Focus */
.navPrev:hover,
.navPrev:focus,
.navNext:hover,
.navNext:focus {
  background-color: #9db484;
  border: 1px solid #4e5a42;
}

.navPrev:active,
.navNext:active {
  background: #3b4331;
  border: 1px solid #c5e1a5;
}

.navPrev:active svg,
.navNext:active svg {
  stroke: #fff;
}

/* Disabled */
.navPrev:disabled,
.navNext:disabled {
  background: #c5e1a5;
  opacity: 0.3;
  cursor: not-allowed;

  border: 1px solid #f9fcf6;
}

.navPrev:disabled svg,
.navNext:disabled svg {
  stroke: #000;
  opacity: 0.3;
}

.iconArrow {
  width: 16px;
  height: 16px;
  color: inherit;
}

.swiper-pagination-bullet-dynamic-main {
  background-color: #000 !important;
}

.navPaginationWrapper {
  margin-bottom: 20px !important;
}

.paginationContainer {
  margin-left: 50px;
}

.paginationContainer :global(.swiper-pagination-bullet-active) {
  background: #000 !important;
  opacity: 1;
}

/* #endregion mobile */

/* #region tablet */
@media (min-width: 768px) {
  .wrapper {
    max-width: 768px;
    height: auto;
    padding: 48px 32px;
  }

  .paginationContainer {

    margin-left: 50%;
  }

  .imageBox {
    width: 336px;
    height: 414px;
  }

  .card {
    max-width: 100%;
  }

  .navButtons {
    position: static;
    gap: 16px;
  }

  .navPrev {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    z-index: 10;
    top: 345px;
  }

  .navNext {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    z-index: 10;
    top: 345px;
  }


  .paginationWrapper {
    position: static;
    display: flex;
    justify-content: center;
    margin-top: 16px;
    padding-left: 0;
  }

  .pagination {
    justify-content: center;
    position: static !important;
    transform: none !important;
  }

}

/* #endregion tablet */

/* #region desktop */
@media (min-width: 1440px) {
  .wrapper {
    max-width: 1440px;
    height: 848px;
    padding: 80px 64px;
  }

  .imageBox {
    width: 304px;
    height: 374px;
  }

  .card {
    max-width: 100%;
  }

  .viewAll:hover {
    cursor: pointer;
  }

  .moreBtn:hover {
    cursor: pointer;
  }

  .navPrev {
    left: 29px;
  }

  .navNext {
    right: 29px;
  }

  .navButtons {
    gap: 20px;
  }

  .paginationWrapper {
    margin-top: 32px;
  }
}

/* #endregion desktop */