.heroSection {
  width: 100%;
  margin: 0 auto;
  padding: 64px 20px 64px 20px;
}

.heroTitle {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #191919;
  margin-bottom: 24px;
}

.heroDesc {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #191919;
  margin-bottom: 32px;
}

.heroList {
  list-style: none;
  text-align: center;
  margin-bottom: 32px;
}

.heroLinkPoducts {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #000;
  background-color: #c5e1a5;
  margin-bottom: 16px;
  border-radius: 100px;
  padding: 6px 12px;
  transition: all 0.3s ease;
}

.heroLinkCategories {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #000;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 100px;
  padding: 6px 12px;
  transition: all 0.3s ease;
}

.heroLinkPoducts:hover,
.heroLinkPoducts:focus {
  background-color: #9db484;
  border: 1px solid #191919;
}

.heroLinkPoducts:active {
  color: #fff;
  border: 1px solid #c5e1a5;
  background: #3b4331;
}

.heroLinkCategories:hover,
.heroLinkCategories:focus {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.15);
}

.heroLinkCategories:active {
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

.heroImg {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

@media screen and (min-width: 375px) {
  .heroSection {
    width: 375px;
    gap: 32px;
  }
}

@media screen and (min-width: 768px) {
  .heroImg {
    width: 336px;
    height: 425px;
    border-radius: 16px;
  }

  .heroSection {
    width: 768px;
    display: flex;
    padding: 64px 32px 64px 32px;
  }

  .heroLinkPoducts {
    width: 110px;
    height: 36px;
  }

  .heroLinkCategories {
    width: 181px;
    height: 36px;
  }

  .heroList {
    display: flex;
    gap: 16px;
  }

  .heroDesc {
    margin-right: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .heroSection {
    width: 1440px;
    padding: 112px 64px 112px 64px;
  }

  .heroImg {
    width: 640px;
    height: 394px;
    border-radius: 16px;
  }

  .heroTitle {
    font-size: 56px;
  }
}
