.messageWrapper {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  justify-content: center; 
  gap: 16px;              
  width: 335px;
  height: 181px;
  border-radius: 16px;
  background-color:#d6eac0;
  padding: 24px 0;      
  text-align: center;     
  box-sizing: border-box;
}

.messageText {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  margin: 0;            
}

.clearFiltersBtn {
  padding: 10px 20px;
  border-radius: 100px;
  border: none;
  background-color: #c5e1a5;
  color: #000;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s;
}

.clearFiltersBtn:hover {
  background-color: #f0f0f0;
}

@media (min-width: 1400px) {
   .messageWrapper {
      width: 753px;
      height: 154px;
   }
}